p {
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: #e7e7e7;
  margin: 0;
}
.main-background {
  width: 100%;
  position: absolute;
  z-index: 1;
}
.gradient {
  width: 100%;
  position: absolute;
  opacity: 100%;
  z-index: 2;
}

.all-info {
  font-family: "Open Sans", sans-serif;
  position: relative;
  z-index: 3;
  width: 100%;
  padding-top: 400px;
}

.left-info {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  width: fit-content;
  width: 538px;
  height: 338px;
  padding-left: 150px;
  column-gap: 16px;
}

.right-info {
  display: inline-flex;
  flex-direction: row;
  margin-left: 400px;
  margin-right: 150px;
  align-items: center;
}
