.header {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 63px;
}
.left-section {
  flex: 1;
  margin-left: 152px;
  width: 202px;
}

.middle-section {
  flex: 2;
  margin-left: 100px;
  display: flex;
  align-items: center;
}

.right-section {
  flex: 1;
  width: 318px;
  margin-right: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.yoga-name {
  margin-left: 10px;
  margin-bottom: 5px;
}

.search-button {
  border-width: 0;
  background-color: transparent;
  margin-right: 30px;
}

.home,
.classes,
.courses,
.about {
  border-width: 0;
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  margin-right: 48px;
  padding-bottom: 5px;
  border-color: #112734;
  color: #112734;
}

.search-icon,
.sign-in,
.free-trial {
  cursor: pointer;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.sign-in {
  border-color: #112734;
  color: #112734;
  width: 68px;
  height: 31px;
  margin-right: 30px;
}

.free-trial {
  color: white;
  background-color: #d3b10f;
  border-width: 0px;
  width: 165px;
  height: 31px;
}
